.card {
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
.bg-color {
  background-color: #ff99f3;
  background-image: radial-gradient(
      at 98% 69%,
      hsla(194, 98%, 65%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 91% 49%, hsla(222, 63%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 94%, hsla(8, 73%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 83% 71%, hsla(53, 92%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 52%, hsla(197, 75%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 46% 21%, hsla(178, 83%, 75%, 1) 0px, transparent 50%);
}

.max-height {
  aspect-ratio: 3 / 2;
}
